@font-face {
    font-family: "Digi";
    src: url(./DS-DIGI.TTF) format(truetype);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 100px;
    text-align: center;
    background-color: #505050;
}

.container {
    background-color: #303030;
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

.top-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    margin: 0 0 10px 0;
    color: white;
    font-family: "Roboto", sans-serif;
}

h2 {
    background-color: #222222;
    color: red;
    font-family: "DIGI";
    font-size: 70px;
    margin: 0 0 10px;
    padding: 10px;
    box-shadow: inset 2px 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.home-btn button, .guest-btn button {
    width: 30px;
    height: 30px;
    color: white;
    border: 1px solid #222222;
    margin-bottom: 5px;
    border-radius: 3px;
}

.increment-home-btn button, .increment-guest-btn button {
    background-color: #006400;
}

.increment-home-btn button:active, .increment-guest-btn button:active {
    background-color: #004d00;
}

.decrement-home-btn button, .decrement-guest-btn button {
    background-color: #8B0000;
}

.decrement-home-btn button:active, .decrement-guest-btn button:active {
    background-color: #800000;
}

.btn-container button {
    background-color: #808080;
    color: white;
    border: 1px solid #222222;
    border-radius: 3px;
    padding: 5px 8px;
}

.btn-container button:active {
    background-color:  #5C5C5C;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 50%;
        margin: 50px auto;
    }
}