@font-face {
    font-family: "Digi";
    src: url(./DS-DIGI.TTF) format(truetype);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 100px;
    text-align: center;
}

.container {
    background-color: #303030;
    width: 400px;
    margin: 0 auto;
    padding: 30px;
}

.top-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-btn button, .guest-btn button {
    width: 30px;
    height: 30px;
}

h1 {
    margin: 0 0 10px 0;
    color: white;
    font-family: "Roboto", sans-serif;
}

h2 {
    background-color: black;
    color: red;
    font-family: "DIGI";
    font-size: 70px;
    margin: 0 0 10px;
    padding: 10px;
}